language: go
sudo: false

matrix:
  include:
    - go: 1.11.x
    - go: 1.x
      env: LATEST=true
    - go: tip
  allow_failures:
    - go: tip

install:
  - # skip

script:
  - go get -t -v ./...
  - diff -u <(echo -n) <(gofmt -d .)
  - if [[ "$LATEST" = true ]]; then go tool vet .; fi
  - # skip for now go test -v -race ./...